In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Fuel_Consumption_2000-2022.csv')

In [5]:
pd.set_option('display.max_columns', 50)
df.head()

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [6]:
df.tail()

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
22551,2022,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
22552,2022,Volvo,XC60 B5 AWD,SUV: Small,2.0,4,AS8,Z,10.5,8.1,9.4,30,219
22553,2022,Volvo,XC60 B6 AWD,SUV: Small,2.0,4,AS8,Z,11.0,8.7,9.9,29,232
22554,2022,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
22555,2022,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.4,8.9,10.8,26,252

In [10]:
df.sample(2)

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
6929,2008,BMW,M5,MID-SIZE,5.0,10,M6,Z,19.9,11.9,16.3,17,375
9889,2010,SUZUKI,SX4 SEDAN SPORT,COMPACT,2.0,4,AV,X,8.9,6.7,7.9,36,182

In [11]:
df.columns

Index(['YEAR', 'MAKE', 'MODEL', 'VEHICLE CLASS', 'ENGINE SIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUEL', 'FUEL CONSUMPTION', 'HWY (L/100 km)',
       'COMB (L/100 km)', 'COMB (mpg)', 'EMISSIONS'],
      dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=22556, step=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22556 entries, 0 to 22555
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              22556 non-null  int64
 1   MAKE              22556 non-null  object
 2   MODEL             22556 non-null  object
 3   VEHICLE CLASS     22556 non-null  object
 4   ENGINE SIZE       22556 non-null  float64
 5   CYLINDERS         22556 non-null  int64
 6   TRANSMISSION      22556 non-null  object
 7   FUEL              22556 non-null  object
 8   FUEL CONSUMPTION  22556 non-null  float64
 9   HWY (L/100 km)    22556 non-null  float64
 10  COMB (L/100 km)   22556 non-null  float64
 11  COMB (mpg)        22556 non-null  int64
 12  EMISSIONS         22556 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.2+ MB

In [14]:
df.describe()

,YEAR,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
count,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000
mean,2011.554442,3.356646,5.854141,12.763513,8.919126,11.034341,27.374534,250.068452
std,6.298269,1.335425,1.819597,3.500999,2.274764,2.910920,7.376982,59.355276
min,2000.000000,0.800000,2.000000,3.500000,3.200000,3.600000,11.000000,83.000000
25%,2006.000000,2.300000,4.000000,10.400000,7.300000,9.100000,22.000000,209.000000
50%,2012.000000,3.000000,6.000000,12.300000,8.400000,10.600000,27.000000,243.000000
75%,2017.000000,4.200000,8.000000,14.725000,10.200000,12.700000,31.000000,288.000000
max,2022.000000,8.400000,16.000000,30.600000,20.900000,26.100000,78.000000,608.000000

In [15]:
df.shape

(22556, 13)

In [16]:
len(df)

22556

In [17]:
df[['CYLINDERS', 'YEAR']]

       CYLINDERS  YEAR
0              4  2000
1              4  2000
2              6  2000
3              6  2000
4              4  2000
...          ...   ...
22551          4  2022
22552          4  2022
22553          4  2022
22554          4  2022
22555          4  2022

[22556 rows x 2 columns]

In [18]:
df.select_dtypes('int')

       YEAR  CYLINDERS  COMB (mpg)  EMISSIONS
0      2000          4          35        186
1      2000          4          37        175
2      2000          6          28        230
3      2000          6          25        264
4      2000          4          33        198
...     ...        ...         ...        ...
22551  2022          4          30        219
22552  2022          4          30        219
22553  2022          4          29        232
22554  2022          4          28        236
22555  2022          4          26        252

[22556 rows x 4 columns]

In [19]:
df.iloc[[5]]

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
5,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,M5,X,9.3,6.8,8.2,34,189

In [21]:
df.iloc[1, 6]

'M5'

In [22]:
df.iloc[:5, :5]

   YEAR   MAKE    MODEL VEHICLE CLASS  ENGINE SIZE
0  2000  ACURA    1.6EL       COMPACT          1.6
1  2000  ACURA    1.6EL       COMPACT          1.6
2  2000  ACURA    3.2TL      MID-SIZE          3.2
3  2000  ACURA    3.5RL      MID-SIZE          3.5
4  2000  ACURA  INTEGRA    SUBCOMPACT          1.8

In [24]:
df.loc[(df['MAKE'] == 'SUZUKI')]

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
526,2000,SUZUKI,ESTEEM,SUBCOMPACT,1.6,4,A4,X,8.6,6.4,7.6,37,175
527,2000,SUZUKI,ESTEEM,SUBCOMPACT,1.6,4,M5,X,7.6,5.7,6.7,42,154
528,2000,SUZUKI,ESTEEM WAGON,STATION WAGON - SMALL,1.8,4,A4,X,9.0,6.3,7.8,36,179
529,2000,SUZUKI,ESTEEM WAGON,STATION WAGON - SMALL,1.8,4,M5,X,8.3,6.0,7.3,39,168
530,2000,SUZUKI,GRAND VITARA 4X4,SUV,2.5,6,A4,X,12.6,10.2,11.5,25,264
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13117,2013,SUZUKI,SX4 HATCHBACK JX,STATION WAGON - SMALL,2.0,4,AV,X,8.8,6.7,7.8,36,179
13118,2013,SUZUKI,SX4 SEDAN JA,COMPACT,2.0,4,AV,X,8.0,6.1,7.2,39,166
13119,2013,SUZUKI,SX4 SEDAN JA/JE,COMPACT,2.0,4,M6,X,9.0,6.0,7.6,37,175
13120,2013,SUZUKI,SX4 SEDAN SPORT,COMPACT,2.0,4,AV,X,8.9,6.7,7.9,36,182
13121,2013,SUZUKI,SX4 SEDAN SPORT,COMPACT,2.0,4,M6,X,9.1,6.2,7.8,36,179

In [25]:
df.query('YEAR == 2010')

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
8977,2010,ACURA,CSX,COMPACT,2.0,4,AS5,X,9.5,6.5,8.1,35,186
8978,2010,ACURA,CSX,COMPACT,2.0,4,M5,X,8.7,6.4,7.7,37,177
8979,2010,ACURA,CSX,COMPACT,2.0,4,M6,Z,10.2,6.8,8.7,32,200
8980,2010,ACURA,MDX AWD,SUV,3.7,6,AS6,Z,13.2,9.6,11.6,24,267
8981,2010,ACURA,RDX AWD TURBO,SUV,2.3,4,AS5,Z,11.7,8.7,10.3,27,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,2010,VOLVO,XC70 3.2 AWD,SUV,3.2,6,AS6,X,13.8,8.9,11.6,24,267
9994,2010,VOLVO,XC70 T6 AWD,SUV,3.0,6,AS6,X,13.0,9.0,11.2,25,258
9995,2010,VOLVO,XC90 3.2,SUV,3.2,6,AS6,X,14.0,9.3,11.9,24,274
9996,2010,VOLVO,XC90 3.2 AWD,SUV,3.2,6,AS6,X,13.9,9.3,11.8,24,271
9997,2010,VOLVO,XC90 V8 AWD,SUV,4.4,8,AS6,X,16.2,10.6,13.7,21,315

In [29]:
start_size = 3.1
end_size = 3.6
df.query('(`ENGINE SIZE` >= @start_size) and (`ENGINE SIZE` <= @end_size)')

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
8,2000,ACURA,NSX,SUBCOMPACT,3.2,6,M6,Z,13.8,9.1,11.7,24,269
51,2000,BMW,M COUPE,TWO-SEATER,3.2,6,M5,Z,12.4,8.5,10.6,27,244
52,2000,BMW,M ROADSTER,MINICOMPACT,3.2,6,M5,Z,12.4,8.5,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22523,2022,Toyota,Tundra 4WD TRD,Pickup truck: Standard,3.4,6,AS10,X,13.5,10.6,12.2,23,286
22524,2022,Toyota,Tundra Hybrid 4WD,Pickup truck: Standard,3.4,6,AS10,X,12.7,10.5,11.7,24,274
22525,2022,Toyota,Tundra Hybrid 4WD TRD PRO,Pickup truck: Standard,3.4,6,AS10,X,12.9,11.6,12.3,23,287
22528,2022,Volkswagen,Atlas 4MOTION,SUV: Small,3.6,6,AS8,X,13.8,10.2,12.2,23,286
22530,2022,Volkswagen,Atlas Cross Sport 4MOTION,SUV: Small,3.6,6,AS8,X,13.1,10.0,11.7,24,275

In [31]:
df.query('MAKE == "Toyota"')

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
18549,2018,Toyota,4Runner 4WD,SUV: Standard,4.0,6,AS5,X,14.3,11.9,13.2,21,308
18550,2018,Toyota,4Runner 4WD (Part-Time 4WD),SUV: Standard,4.0,6,AS5,X,14.3,11.9,13.2,21,308
18551,2018,Toyota,86,Minicompact,2.0,4,AS6,Z,9.9,7.3,8.7,32,204
18552,2018,Toyota,86,Minicompact,2.0,4,M6,Z,11.3,8.3,9.9,29,232
18553,2018,Toyota,Avalon,Mid-size,3.5,6,AS6,X,11.4,7.7,9.7,29,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22522,2022,Toyota,Tundra 4WD,Pickup truck: Standard,3.4,6,AS10,X,13.6,10.4,12.2,23,285
22523,2022,Toyota,Tundra 4WD TRD,Pickup truck: Standard,3.4,6,AS10,X,13.5,10.6,12.2,23,286
22524,2022,Toyota,Tundra Hybrid 4WD,Pickup truck: Standard,3.4,6,AS10,X,12.7,10.5,11.7,24,274
22525,2022,Toyota,Tundra Hybrid 4WD TRD PRO,Pickup truck: Standard,3.4,6,AS10,X,12.9,11.6,12.3,23,287
22526,2022,Toyota,Venza AWD,SUV: Small,2.5,4,AV,X,5.9,6.4,6.1,46,142